  
<h1><%= @team_name %></h1>

<h2>Team Motto: <%= @team_motto %></h2><br>

<h2>Hero Name: <%= @hero_1_name %></h2><br>
<p>Hero Power: <%= @hero_1_power %></p>
<p>Hero Biography: <%= @hero_1_bio %></p><br>


<h2>Hero Name: <%= @hero_2_name %></h2><br>
<p>Hero Power: <%= @hero_2_power %></p>
<p>Hero Biography: <%= @hero_2_bio %></p><br>


<h2>Hero Name: <%= @hero_3_name %></h2><br>
<p>Hero Power: <%= @hero_3_power %></p>
<p>Hero Biography: <%= @hero_3_bio %></p><br>